body{
	font-family: arial;
	background: #D5F0F3;
}
.bungkus{
	width: 350px;
	background-color: azure;
	border-radius: 3px;
	opacity: 0.9;
	/*Meletakkan form ke tengah*/
	margin: 70px auto;
	padding: 30px 20px;
}
label{
	font-size: 11pt;
}
.form{
	/*membuat lebar form penuh*/
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	font-size: 11pt;
	margin-bottom: 20px;
}
.login{
	background: #7cfc00;
	color: white;
	cursor: pointer;
	font-size: 11pt;
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
}